@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
@import url("https://cdn.jsdelivr.net/npm/iransans-fontface@0.1.1/css/iransans/iransans-fontface.min.css");

@font-face {
  font-family: "iran-sans";
  src: url("https://cdn.jsdelivr.net/npm/iransans-fontface@0.1.1/css/iransans/iransans-fontface.min.css");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: inherit;
}
.bg-img {
  background-image: url("./assets/video/video1.mp4");
}

.bgimg {
  background-image: url("./assets/images/round-text.png");
}

.bgConf {
  background-color: #ccc;
  background-blend-mode: multiply;
  transition: all 0.25s linear;
  filter: saturate(0%);
}

.bgConf:hover {
  background-color: #fff;
  filter: saturate(100%);
}

.sample1 {
  background-image: url("./assets/images/sample/shopping.png");
}

.sample2 {
  background-image: url("./assets/images/sample/todoList.png");
}

.sample3 {
  background-image: url("./assets/images/sample/signup-form.png");
}

.sample4 {
  background-image: url("./assets/images/sample/landing-page.png");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rtl-direction {
  direction: rtl;
}
.ltr-direction {
  direction: ltr;
}
